@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors 
 Blue #082f85
 Light blue #30d2ff 
 Orange #ffa930 
 */

@import "@splidejs/react-splide/css";

html {
  background-color: white;
  color: #031641;
  scroll-behavior: smooth;
}

.flyout {
  position: fixed;
  top: 80%;
  width: fit-content;
  right: 0;
  background-color: #30d2ff;
  background-color: #ffa930;
  padding: 1rem;
  z-index: 99;
}

a.btn-sm {
  display: flex;
  animation: c;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo p {
  min-width: 200px;
}

section {
  padding: 8rem 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  align-items: center;
  max-width: 1500px;
  margin: auto;
}

section h2 {
  grid-column: 1/3;
}

.highlightSection {
  background: #082f85;
  background: linear-gradient(126deg, #082f85 0%, #4260a2 100%);
  color: white;
}

.fade-overlay {
  background: rgb(8, 47, 133);
  background: linear-gradient(
    90deg,
    rgba(8, 47, 133, 1) 0%,
    rgba(26, 62, 142, 0.48923319327731096) 0%,
    rgba(255, 255, 255, 0) 100%
  );

  width: 100%;
  height: 100%;
  position: absolute;
}

.hero:has(.hero-verlay) .hero-content h1,
.hero .hero-content p {
  /* text-shadow: 1px 1px 5px #0c244c; */
  text-shadow: 5px 5px 23px #000000;
}

.hero-overlay {
  background-color: rgba(9, 29, 72, 0.398);
}

.picturebg {
  background: rgb(8, 47, 133);
  color: white;
  text-shadow: 1px 1px 5px #0c244c;
  background-position: bottom;
  background-size: cover;
  position: relative;
  /* min-height: 65vh; */
}

h2 {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 1rem;
  line-height: 1.2;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  margin-top: 0.5rem;
}

.teams {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.teams h2 {
  margin-bottom: -3rem;
}

.team {
  padding: 2rem;
  border: solid 1px #1064b3;
}
a.team:hover {
  box-shadow: rgb(0 0 57 / 20%) 0px 7px 29px 0px;
}
.team img {
  margin: auto;
}

.collapse.collapse-arrow {
  border-bottom: solid 1px #1064b3;
}

/* Teams */

.subhero {
  background-color: #082f85;
}

.icon-container {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.25rem;
  align-items: flex-start;
}

.card .pt-6 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-title {
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .flyout {
    top: 90%;
  }

  .flyout span {
    display: none;
  }
  section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem 10%;
  }

  section img {
    /* margin-bottom: 1rem; */
  }

  .info-group img {
    margin-bottom: 0;
  }
  .team {
    grid-column: 1/3;
    margin-bottom: 1rem;
  }
  .teams h2 {
    margin-bottom: 0;
  }

  .card {
    width: 100%;
    margin-bottom: 3rem;
  }

  .fade-overlay {
    background: rgba(8, 48, 133, 0.493);
  }
}

/* Footer */

.footer-newsletter {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.footer-social {
  display: flex;
  gap: 1rem;
  margin-top: 2.5rem;
  border-top: solid 1px white;
  padding-top: 2rem;
  justify-content: center;
}

.footer-social a {
  display: flex !important;
}
.footer-title {
  opacity: 1;
}

/* About us */
.info-group {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: fit-content;
}

/* gallery */
.splide__arrow svg {
  fill: #072c69;
  opacity: 1;
}

.splide__arrow:disabled {
  opacity: 0.5;
}
.splide__arrow {
  background-color: #fff;
  opacity: 1;
  width: 3rem;
  height: 3rem;
}

button.splide__pagination__page {
  background: #0083ff;
}

button.splide__pagination__page.is-active {
  background-color: #072c69;
}

.splide__pagination {
  background-color: #fff;
  bottom: 0;
  padding-top: 1rem;
}

.splide__arrow--next {
  right: 4em;
}

.splide__arrow--prev {
  left: 4em;
}
/* @media only screen and (min-width: 1500px) {
  .splide__arrow--next {
    right: 18em;
  }

  .splide__arrow--prev {
    left: 18em;
  }
} */

@media only screen and (max-width: 767px) {
  .splide__arrow--next {
    right: 0em;
  }

  .splide__arrow--prev {
    left: 0em;
  }
  .navbar-end {
    display: none;
  }

  .splide__pagination {
    padding-top: 0.5rem;
    width: 101%;
  }
}

/* Mobile Nav */
.mobileNav {
  position: fixed;
  top: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1.25rem;
  z-index: 99;
  color: #000;
}

.mobileNav button {
  padding: 0;
  margin: 0;
}

.mobileNav svg {
  fill: #ffffff; /* Assuming color.$white is #ffffff */
}

.mobileNav li a {
  display: block;
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 2.5;
}

.navBar {
  display: none;
}

.navBar button {
  /* position: fixed; */
  right: 0;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
  background: transparent;
  border: none;
  width: fit-content;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background-color: #fff;
  left: -20vw;
  bottom: 0;
  height: 200vh;
  width: 20vw;
  overflow: hidden;
  z-index: -1;
  margin-top: 0;
  color: #000;
}

.menuNav li {
  margin-left: 10rem;
}

.menuNav li a {
  display: block;
  padding: 0.5rem;
  padding-left: 2.5rem;
  width: 100%;
  font-size: 20px;
}

.menuNav li:first-child {
  margin-top: 5rem;
}

.showingMenu {
  transition: all 0.5s ease-out;
  transform: translateX(160vw);
}

.closingMenu {
  transition: all 0.5s ease-out;
  transform: translateX(0vw);
}

.icon-link {
  display: flex !important;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 16px !important;
  min-width: 356px !important;
}

.dropdown {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .menuNav.showMenu {
    width: 70vw;
  }

  .navbar-start {
    width: 100%;
    justify-content: center;
  }
  .navBar {
    display: block;
    position: sticky;
    z-index: 99;
    top: 0.5rem;
    left: 0.5rem;
    margin-top: -4rem;
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 700px) {
  .menuNav.showMenu {
    width: 120vw;
  }

  .navbar-start {
    width: 100%;
    justify-content: center;
  }
  .showingMenu {
    transition: all 0.5s ease-out;
    transform: translateX(160vw);
  }

  .closingMenu {
    transition: all 0.5s ease-out;
    transform: translateX(0vw);
  }

  .menuNav {
    left: -40vw;
    width: 40vw;
  }
}

/* Euros 2025 */

.ec_teams img {
  max-height: 200px;
  width: auto;
  margin: auto;
}
.team-description * {
  text-align: center;
}
